
<body>
  <div class='container'>
        <div class='div-1'>
            <div class='sub-div-1'>
                <i class="fa fa-twitter icon"></i>
            </div>
        </div>
        <div class='div-2'>
            <div class='sub-div-2'>
                <h3>Log in to Twitter</h3>
            </div>
        </div>
        <div class='div-3'>
            <div class='sub-div-3'>
                <label>Phone, email or username</label><br>
                <input type='text'>
            </div>
        </div>
        <div class='div-4'>
            <div class='sub-div-4'>
                <label>Password</label><br>
                <input type='password'>
            </div>
        </div>
        <div class='div-5'>
            <div class='sub-div-5'>
                <button>Log in</button>
            </div>
        </div>
        <div class='div-6'>
            <div class='sub-div-6'>
                <a href=''>Forgot password? .&nbsp;</a>
                <a href=''>Sign up for Twitter</a>
            </div>
        </div>
    </div>
</body>

